/* 去除样式 */
* {
    margin: 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear::after {
    content: "";
    height: 0;
    overflow: hidden;
    visibility: hidden;
    clear: both;
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}
